@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17.2rem;
    gap: 2.4rem;
}

body {
    min-height: 100vh;
    background-image: url(/images/mountains.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    height: 60px;
    width: 400px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 22px;
}

button {
    cursor: pointer;
    color: white;
    padding: 12px 32px 12px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    background: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

button:hover {
    background: white;
    color: #02799D;
}